@charset "utf-8";
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic");


/* CSS Document */
/* ====================================================================================================
	Table of Contents
	1. Theme Settings & Themes 
	2. Typography - Copy into admin.css
	3. Header
		a. Header Outer
		b. User Tools

	4. Navigation
		a. Main Navigation
		b. Mobile Navigation
		c. Sub Menu
		d. Left Navigation

	5. Content
		a. Global Site Structure
		b. Home Page Styles
		c. Call to Action Styles
		d. Interior Page Styles

	6 Footer
	7. Blog
	8. Print
	9. Buttons
	10. v65 Overrides
		a. Home Page Product Group Overrides
		b. Checkout Overrides
		c. Responsive Product
		d. Product Page
			i. 1 Up
			ii. 2 Up
			iii. 3 Up
			iv. 5 Up 
		e. Misc

	11. Generic Content Styling
		a. Generic Content
*/

//   ===================================================================================================
//      1.a Theme Settings - These shouldnt change
// =====================================================================================================

$backgroundColor: #fff; // Website Background Color
$fontColor: #333; // General Font Color
$outsideFontColor: #000; //Font Color outside the container
$outsideFontColorHover: #333; // Hover font color outside the wrapper
$navigationColor: #000; // Main Navigation Color
$boxShadowColor: #ccc; // Box Shadow Color
$fontFamily: 'Lato', sans-serif; // Default Font Family
$websiteWidth: 90%;


//   ===================================================================================================
//      Summer Theme
// =====================================================================================================

// $linkColor: #d35400; //General Link Color
// $footerFont: #fff; // Controls the color of fonts in the footer
// $winesFonts: #fff; // Controls the color of fonts in the Our Wines section on the home page

// $mainButtonColor: #66CDAA; // Main Button Style
// $altButtonColor: #ccc; // Alternate Button Style
// $footerButton: #FBAF3F; // Styles any Main Buttons in the Footer

// $headerBackgroundColor: #66CDAA; // Home Page Banner background color
// $ourWinesBorderColor: #1a2632; // Home Page Our Wines top border color
// $ourWinesBackgroundColor: #1a2632; // Home Page Our Wines background color
// $footerUpperBackgroundColor: #66CDAA; // Upper Footer background color
// $footerLowerBackgroundColor: #999; // Lower Footer background color
// $mobileNavBackgroundColor: #333; // Mobile Nav background color
// $borderBottomColor: #FBAF3F; // Main Nav Underline Color
// $borderEventsColor: #FBAF3F; // Events Container Color

//   ===================================================================================================
//      Red Theme 
// =====================================================================================================

// $linkColor: #146F7F; //General Link Color
// $footerFont: #fff; // Controls the color of fonts in the footer
// $winesFonts: #fff; // Controls the color of fonts in the Our Wines section on the home page

// $mainButtonColor: #146F7F; // Main Button Style
// $altButtonColor: #ccc; // Alternate Button Style
// $footerButton: #146F7F; // Styles any Main Buttons in the Footer

// $headerBackgroundColor: #B21900; // Home Page Banner background color
// $ourWinesBorderColor: #7F0705; // Home Page Our Wines top border color
// $ourWinesBackgroundColor: #7F0700; // Home Page Our Wines background color
// $footerUpperBackgroundColor: #B21900; // Upper Footer background color
// $footerLowerBackgroundColor: #999; // Lower Footer background color
// $mobileNavBackgroundColor: #333; // Mobile Nav background color
// $borderBottomColor: #146F7F; // Main Nav Underline Color
// $borderEventsColor: #146F7F; // Events Container Color

//   ===================================================================================================
//      Green Theme 
// =====================================================================================================

// $linkColor: #667F00; //General Link Color
// $footerFont: #fff; // Controls the color of fonts in the footer
// $winesFonts: #fff; // Controls the color of fonts in the Our Wines section on the home page

// $mainButtonColor: #AECC00; // Main Button Style
// $altButtonColor: #ccc; // Alternate Button Style
// $footerButton: #667F00; // Styles any Main Buttons in the Footer

// $headerBackgroundColor: #A2CC00; // Home Page Banner background color
// $ourWinesBorderColor: #677F06; // Home Page Our Wines top border color
// $ourWinesBackgroundColor: #677F06; // Home Page Our Wines background color
// $footerUpperBackgroundColor: #A2CC00; // Upper Footer background color
// $footerLowerBackgroundColor: #999; // Lower Footer background color
// $mobileNavBackgroundColor: #333; // Mobile Nav background color
// $borderBottomColor: #CBFF00; // Main Nav Underline Color
// $borderEventsColor: #CBFF00; // Events Container Color

//   ===================================================================================================
//      Pink Theme 
// =====================================================================================================

// $linkColor: #64ADCC; //General Link Color
// $footerFont: #fff; // Controls the color of fonts in the footer
// $winesFonts: #fff; // Controls the color of fonts in the Our Wines section on the home page

// $mainButtonColor: #64ADCC; // Main Button Style
// $altButtonColor: #ccc; // Alternate Button Style
// $footerButton: #64ADCC; // Styles any Main Buttons in the Footer

// $headerBackgroundColor: #CC64B1; // Home Page Banner background color
// $ourWinesBorderColor: #7F4470; // Home Page Our Wines top border color
// $ourWinesBackgroundColor: #7F3E6F; // Home Page Our Wines background color
// $footerUpperBackgroundColor: #CC64B1; // Upper Footer background color
// $footerLowerBackgroundColor: #999; // Lower Footer background color
// $mobileNavBackgroundColor: #333; // Mobile Nav background color
// $borderBottomColor: #64ADCC; // Main Nav Underline Color
// $borderEventsColor: #64ADCC; // Events Container Color

//   ===================================================================================================
//      Blue Theme 
// =====================================================================================================

// $linkColor: #64ADCC; //General Link Color
// $footerFont: #fff; // Controls the color of fonts in the footer
// $winesFonts: #fff; // Controls the color of fonts in the Our Wines section on the home page

// $mainButtonColor: #333; // Main Button Style
// $altButtonColor: #CCC; // Alternate Button Style
// $footerButton: #CCC; // Styles any Main Buttons in the Footer

// $headerBackgroundColor: #64ADCC; // Home Page Banner background color
// $ourWinesBorderColor: #3E6C7F; // Home Page Our Wines top border color
// $ourWinesBackgroundColor: #3E6C7F; // Home Page Our Wines background color
// $footerUpperBackgroundColor: #64ADCC; // Upper Footer background color
// $footerLowerBackgroundColor: #999; // Lower Footer background color
// $mobileNavBackgroundColor: #333; // Mobile Nav background color
// $borderBottomColor: #64ADCC; // Main Nav Underline Color
// $borderEventsColor: #64ADCC; // Events Container Color

//   ===================================================================================================
//      Brown Theme
// =====================================================================================================

$linkColor: #7EBFB9; //General Link Color
$footerFont: #fff; // Controls the color of fonts in the footer
$winesFonts: #fff; // Controls the color of fonts in the Our Wines section on the home page

$mainButtonColor: #786964; // Main Button Style
$altButtonColor: #ccc; // Alternate Button Style
$footerButton: #7EBFB9; // Styles any Main Buttons in the Footer

$headerBackgroundColor: #20120A; // Home Page Banner background color
$ourWinesBorderColor: #7EBFB9; // Home Page Our Wines top border color
$ourWinesBackgroundColor: #7EBFB9; // Home Page Our Wines background color
$footerUpperBackgroundColor: #20120A; // Upper Footer background color
$footerLowerBackgroundColor: #999; // Lower Footer background color
$mobileNavBackgroundColor: #333; // Mobile Nav background color
$borderBottomColor: #7EBFB9; // Main Nav Underline Color
$borderEventsColor: #7EBFB9; // Events Container Color

//   ===================================================================================================
//      White Theme 
// =====================================================================================================

// $linkColor: #3E6C7F; //General Link Color
// $footerFont: #000; // Controls the color of fonts in the footer
// $winesFonts: #000; // Controls the color of fonts in the Our Wines section on the home page

// $mainButtonColor: #333; // Main Button Style
// $altButtonColor: #CCC; // Alternate Button Style
// $footerButton: #333; // Styles any Main Buttons in the Footer

// $headerBackgroundColor: #CCC; // Home Page Banner background color
// $ourWinesBorderColor: #CCC; // Home Page Our Wines top border color
// $ourWinesBackgroundColor: #CCC; // Home Page Our Wines background color
// $footerUpperBackgroundColor: #CCC; // Upper Footer background color
// $footerLowerBackgroundColor: #999; // Lower Footer background color
// $mobileNavBackgroundColor: #333; // Mobile Nav background color
// $borderBottomColor: #000; // Main Nav Underline Color
// $borderEventsColor: #000; // Events Container Color

//   ===================================================================================================
//      Black Theme 
// =====================================================================================================

// $linkColor: #39CEFF; //General Link Color
// $footerFont: #fff; // Controls the color of fonts in the footer
// $winesFonts: #fff; // Controls the color of fonts in the Our Wines section on the home page

// $mainButtonColor: #39CEFF; // Main Button Style
// $altButtonColor: #CCC; // Alternate Button Style
// $footerButton: #39CEFF; // Styles any Main Buttons in the Footer

// $headerBackgroundColor: #333; // Home Page Banner background color
// $ourWinesBorderColor: #666; // Home Page Our Wines top border color
// $ourWinesBackgroundColor: #666; // Home Page Our Wines background color
// $footerUpperBackgroundColor: #666; // Upper Footer background color
// $footerLowerBackgroundColor: #999; // Lower Footer background color
// $mobileNavBackgroundColor: #333; // Mobile Nav background color
// $borderBottomColor: #39CEFF; // Main Nav Underline Color
// $borderEventsColor: #39CEFF; // Events Container Color

//   ===================================================================================================
//      ULTRA BRIGHT - Probably not the theme you are looking for.
// =====================================================================================================

// $linkColor: #00DBEE; //General Link Color
// $footerFont: #fff; // Controls the color of fonts in the footer
// $winesFonts: #fff; // Controls the color of fonts in the Our Wines section on the home page

// $mainButtonColor: #EB0089; // Main Button Style
// $altButtonColor: #ccc; // Alternate Button Style
// $footerButton: #EB0089; // Styles any Main Buttons in the Footer

// $headerBackgroundColor: #0095A2; // Home Page Banner background color
// $ourWinesBorderColor: #EB0089; // Home Page Our Wines top border color
// $ourWinesBackgroundColor: #EB0089; // Home Page Our Wines background color
// $footerUpperBackgroundColor: #0095A2; // Upper Footer background color
// $footerLowerBackgroundColor: #999; // Lower Footer background color
// $mobileNavBackgroundColor: #333; // Mobile Nav background color
// $borderBottomColor: #00DBEE; // Main Nav Underline Color
// $borderEventsColor: #00DBEE; // Events Container Color

//   ===================================================================================================
//      1.b Responsive Breakpoints
// =====================================================================================================

$break-max-mobile: "and (max-width : 580px)";
$break-max-tablet: "and (max-width : 768px)";
$break-min-tablet: "and (min-width : 767px)";
$break-tablet: "and (min-width : 768px) and (max-width : 1024px)";
$break-max-desktop: "and (max-width : 1024px)";
$break-min-desktop: "and (min-width : 1025px)";

/*   ===================================================================================================
     2. Typography - These get copied into the admin.css
======================================================================================================== */

body{
	background-color: $backgroundColor;
	font-size: 75%;
	color: $fontColor;
	font-family: $fontFamily;
	line-height: 1.8em;
}

a{ 
	color: $linkColor;
	text-decoration: none;
	&:hover, &:focus, &:active{
		text-decoration: underline;
	}
}

h1,h2,h3,h4,h5,h6,p,table,ul,ol { 
	margin-top: 0;
	padding-top: 0;
}

ul, ol, dl, p, table, pre { 
	margin-bottom: 1em;
}

#{headings(1,6)}{
	color: #333;
	font-family: $fontFamily;
	font-weight: 200;
	margin: 0;
}

	h1 { 
		font-size: 32px;
		line-height: 1.2;
		margin-bottom: 0.6em;

		@media screen #{$break-max-tablet}{
			font-size: 24px;
		}
	}

	h2 { 
		font-size: 26px;
		line-height: 1.2em;
		margin: 0.25em  0 0.5em;

		@media screen #{$break-max-mobile}{
			font-size: 22px;
		}
	}
		
	h3 { 
		font-size: 22px;
		line-height: 1.2;
		margin-bottom: 0.6em;

		@media screen #{$break-max-mobile}{
			font-size: 20px;
		}
	}
		
	h4 { 
		font-size: 18px;
		line-height: 1.2;
	}
		
	h5 { 
		font-size: 14px;
		line-height: 1.5;
	}

	h6 { 
		font-size: 12px;
		line-height: 1.5;
	}

img{
	height: auto!important;
	max-width: 100%;
}

form { 
	margin-bottom: 1em;
}
	
legend { 
	color: #111;
}
	
hr { 
	background-color: #666;
	border: 0;
	color: #666;
	height: 1px;
}

strong {
	font-weight: 500;
}

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;

	a{
		display:block;
		height:100%;
	}
}

/*   ===================================================================================================
     3. Header
======================================================================================================== */
/* ----- a. Header Outer ---- */
header{
	width: 100%;
	z-index: 100;
	padding: 20px 0;

	@media screen #{$break-min-tablet} {
		position: relative;	
	}
	@media screen #{$break-max-tablet} {
		padding: 0;
	}
}

	.logo{
		background: image-url('logo.png') no-repeat center center;
		background-size: contain;
		height: 68px;
		display: block;
		text-align: center;
		width:45%;
		margin:0 auto;
			@media screen and (min-device-width : 768px) and (max-device-width : 1023px) {
				float: left;
				width: 240px;
				text-align:left;
				margin-left: 10px;
			}
			@media screen and (min-width : 1024px) {
				float: left;
				width: 240px;
				text-align:left;
				margin-top: 10px;
				margin-left: 10px;	
			}
			@media screen #{$break-max-tablet} {
				margin: 0 auto 0;
				float: none;
			}
			@media screen #{$break-max-mobile} {
				margin-bottom: 1.5%;
				margin-top: 20%;
			}
			@media screen and (max-width : 767px){ 
				width: 65%;
			}
	}
.cart {
		@media screen #{$break-max-mobile}{
			display: none;
		}
	}

	#productSearch{
		float:right;
		margin:50px 0 0 0;
		width:250px;

		@media screen #{$break-max-tablet}{
			width:100%;
			margin:3% 0;
		}

		fieldset{
			border:none;
		}

		#v65-searchWidgetInput{
			input{
				width:150px;
				float:left;
				margin:0 5px 0 0;

				@media screen #{$break-max-tablet}{
					width:65%;
					margin:0 2%;
				}
			}
		}

		.defaultBtn{
			@media screen #{$break-max-tablet}{
				width:25%;
			}
		} 
	}

/* ----- b. User Tools ----- */

#user-tools {

	@media screen #{$break-max-mobile}{
			background: #333;
			width: 100%;
			min-height: 45px;
			-webkit-box-shadow: 2px 2px 2px 2px #333;
			box-shadow: 2px 2px 2px 2px #333;
			position: fixed;
	}
	@media screen #{$break-max-desktop}{
		margin: 0 19px 25px 0;
	}

	.v65-yourAccount, .v65-editProfile {
		width: 30%;
	}
	.v65-login, .v65-logout {
		width: 20%;
		@media screen #{$break-max-desktop}{
			line-height: 24px;
		}
		@media screen #{$break-max-mobile}{
			line-height: 4em;
		}

	}
	#v65-modalCart {
		@media screen #{$break-max-mobile}{
			width: 90%;
		}
		@media screen #{$break-max-desktop}{
			line-height: 50px;	
			right: 10px;
		}
	}

}
.spacer {
	display: none;
	@media screen #{$break-max-mobile}{
		display: block;
		width: 100%;
		height: 75px;

    }
}

/* ---- c. Mobile Navigation ----- */

#mobile-header {
    display: none;
}
@media screen #{$break-max-mobile}{
    #mobile-header {
        display: block;
        float: left;
        width: 13%;
        box-sizing: border-box;
		padding: 9px 0 0 5px;
    }
}

/*   ===================================================================================================
     4. Navigation
======================================================================================================== */
	
/* ----- a. Main Navigation ----- */
nav{
	font-size: 13px;
	z-index: 101;
	height: 24px;
	width: 100%;
	position: relative;
	margin: 50px 0 0 0;
		@media screen #{$break-max-mobile}{
			display: none;
		}
		@media screen #{$break-max-desktop}{
			margin-bottom: 30px;
			margin-top: 0;
			text-align: center;
		}
		@media screen #{$break-tablet}{

		}
	ul{
		margin: 0;
		padding: 0;
		display: inline-block;
			@media screen #{$break-min-tablet}{
				float:right;
				margin:0;
				text-align: left;
			}
			@media screen #{$break-max-tablet}{
				float: none;
				margin-left: 20px;
			}
		li{
			margin: 0;
			padding: 0;
			height: 26px;
			line-height: 45px;
			display: inline-block;
			@media screen #{$break-min-tablet}{
				float:left;
				height: 26px;
				line-height: 28px;
				margin: 0  0 0 40px;
				position:relative;
				display: inline;
			}
			@media screen #{$break-min-desktop}{
				float:left;
				margin: 0 0 0 40px;
				position:relative;
				display: inline;
			}
			a{
				font-family: $fontFamily;
				font-weight: 300;
				font-size: 13px;
				text-transform: uppercase;
				color: #666;;
				display:block;
				height: 30px;
				line-height: 44px;
				margin: 0 4px;
				padding: 0 6px;
				position: relative;
				text-decoration: none;
				@media screen #{$break-min-tablet}{
					height:26px;
					line-height: 32px;
					display: inline-block;
					margin: 0;
					padding: 0;
				}

				&:hover{
					color: $outsideFontColorHover;
					text-decoration: none;
					border-bottom: 3px solid $borderBottomColor;
				}
			}
			// Drop Down
			&:hover ul{
				display: block;
				font-size: 12px;
			}
			ul{
				background-color: #fff;
				display: none;
				position: absolute;
				width: 180px;
				background-color: #fff;
				border: 1px solid #ccc;
				margin: 0;

				li{
					background-color: #fff;
					display: block;
					float: none;
					margin: 0;		
					text-align: left;
					width: 180px;

					a{
						background-color: #fff;
						color: #666;
						display: block;
						float: none;
						height: 26px;
						line-height: 28px;
						margin: 0;
						padding: 0 0 0 10px;
						text-align: left;
						text-transform: none;
						width: 170px;

						&:hover{
							color: #000;
							text-decoration: underline;
							border: none;
						}
					}
				}
			}
			// End Drop Down

		}
			/*home link is hidden for mobile*/
			li.v65-home {
				display: inline-block;
			}
			li.v65-pageAParent{
				color: #000
			}
			li a.v65-selected{
				border-bottom: 3px solid $borderBottomColor;
			}
			/* Option to display the first three items, home is hidden above for mobile
			@media screen and (max-width: 550px) {
  				li:nth-child(n+5){display:none;
  				}
			}*/
	}
}

/* ----- c. Sub Menu ----- */
.subMenu{
	border-right: 1px solid #ccc;
	float: left;
	margin: 1% 3% 3% 0; 
	padding-right: 2%;
	width: 15.8%; 
	@media screen #{$break-max-tablet}{
		width: 95%;
		margin: 0 0 30px 3%;
		border-right: none;	
	}
	@media screen #{$break-max-desktop}{
		margin: 1% 1% 3% 2%; 
	}
	ul{
		margin:0;
		padding:0;
		list-style: none;
		width: 100%; // 160px
		@media screen #{$break-max-tablet}{border-top:1px solid #999;}	
		@media screen #{$break-min-tablet}{
			margin: 0 0 2% 1%; //0 0 1em 10px
			padding: 0;
			}
		li{
			margin:0;
			padding:0;
			@media screen #{$break-max-tablet}{
				border-bottom:1px solid #999; 
				text-align: center;
			}
			@media screen #{$break-min-desktop}{
				line-height: 2;
				display: list-item;
			}

			a{ 
				@media screen #{$break-max-tablet}{
					display:block;
					font-size:1em; 
					line-height:3em;
				}


				&:hover{

				}
			}
			ul{
				margin:0;
				padding:0;
				list-style: none;
				width: 100%; // 160px	
				@media screen #{$break-min-tablet}{
					margin-left: 10px;
					width: 160px;
					border:none;
				}		
			}

			.v65-pageAParent {
				color: #000;
			}
			.v65-leftSelected{
				color: #000;
				font-weight: bold;
			}
		}
	}

	h3{
		@media screen #{$break-max-tablet}{display:none;}
	}
}
/*   ===================================================================================================
     5. Content
======================================================================================================== */

/* ----- a. Global Site Structure ----- */

.container {
	margin: 0 auto;
	position: relative;
	width: 1024px;

	@media screen #{$break-max-desktop}{
		width: 100%;
	}
}
/* ----- b. Homepage Styles ----- */

.bannerHome {
	background: $headerBackgroundColor;
	width: 100%;

	.v65-pod {
		max-width: 1024px;
		margin: 0 auto;
	}

	.v65-podDescription {
		float: left;
		padding-top: 6%;
		position: relative;
		text-align: right;
		width: 57%;
		img {
			max-width: 100%;
		}
		@media screen #{$break-max-tablet}{
			padding: 6% 6%;
			text-align: center;
			width: 87%;
		}

	}

	.v65-podImage {
		float: left;
		max-height: 375px;
		padding-top: 2%;
		position: relative;
		text-align: center;
		width: 43%;
		img {
			max-width: 100%;
		}
		@media screen #{$break-max-tablet}{
			display: none;
		  	
		}
	}
}

.bannerInterior {
	background: $headerBackgroundColor;
	height: 3px;
	margin-bottom: 30px;
	width: 100%;
}

#slider{
	height: 80%;
	overflow: hidden;
	width: 100%;
}

.altBanner {
	width: 100%;
}
	.homepageContent{
		background: #fff;
		box-shadow: 0 0 20px $boxShadowColor;
	}
	.homepageText{
		float: left;
		margin-left: 15px;
			img {
		  		width: 100%;
		  	}
		  	@media screen #{$break-max-mobile}{
			  	padding: 3%;
			  	margin: 0;
			  	width: 90%;
		  	}
		  	@media screen #{$break-max-tablet}{
			  	padding: 0 3% 3% 2%;
			  	width: 95%;
				margin: 0;
		  	}
		  	@media screen #{$break-tablet}{
			  	padding: 3% 0% 0 2%;
			  	width: 50%;
				margin: 0;
		  	}
		  	@media screen #{$break-min-desktop}{
			  	padding: 30px 30px 30px 20px;
				width: 55%;
				margin: 0;
		  	}
	}

	.homepageProductGroup { 
		float: left;
			@media screen #{$break-max-mobile}{
			  	padding:3%;
			  	margin: 0;
		  	}
		  	@media screen #{$break-tablet}{
			  	padding: 3% 3% 0 3%;
			  	width: 40%;
		  	}
		  	@media screen #{$break-max-tablet}{
				padding: 30px 3% 0 3%;
		  	}
		  	@media screen #{$break-min-desktop}{
			  	padding: 30px 0 0;
				width: 40%;
		  	}
		.v65-productGroup-title {
			display: none;
		}
		.v65-product-title {
			a {
				@media screen #{$break-max-mobile}{
					font-size: 22px;
				}
			}
		}
		.v65-product-teaser {
			width: 90%;
		}		
	
		.v65-product-photo {
			float: left;
			width: 25%;
			margin-right: 3%;
		}
		.v65-productGroup-products {

			@media screen #{$break-min-tablet}{
				width: 95%;		
			}

		}
		.v65-product-quickView {
			@media screen #{$break-max-desktop}{
				display: none!important;
			}
		}

		.v65-addToCartCase{
			@media screen #{$break-max-mobile}{
				display:none;
			}
		}
		.homepageProductGroup .v65-product-photo img {
			max-width: 100%;
		}		

	}
/* ----- c. Home Page Call To Action Styling ----- */
.ctaLeft {
	float: left; 
	width: 49%;

	@media screen #{$break-max-desktop}{
		padding-left: 10px;
		box-sizing: border-box;
	}
	@media screen #{$break-max-tablet}{
		width: 95%;
	}
	img {
		width: 100%!important;
	}

}
.ctaRight {
	float: left;
	width: 49%;
	padding-left: 20px;
	box-sizing: border-box;

	@media screen #{$break-min-tablet}{
	}
	@media screen #{$break-max-tablet}{
		width: 95%;
	}
	img {
		width: 100%!important;
		margin-top: 20px;
	}

}

.About, .Wines {
}

.aboutHome {
	padding: 30px 0;
}

.ourWinesHome {
	border-top: 5px solid $ourWinesBorderColor;
	background:$ourWinesBackgroundColor;
	padding: 30px 0;
	p {
		color: $winesFonts;
	}
	h2 {
		color: $winesFonts;
	}
	@media screen #{$break-max-tablet}{
		width: 100%;
	}
}
.eventsHome {
	padding: 30px 0;
	h2 {
		@media screen #{$break-max-tablet}{
			margin-left: 10px;
		}
	}
}
/* Home Page Events Styling */
	.Event {
		background: #F1F1F2;
		min-height:100px;
		padding: 0;
		@media screen #{$break-min-desktop}{
			width: 48%;
		}
		@media screen #{$break-max-desktop}{
			margin: 0 0 10px 10px!important;
			width: 95%;
	  	}

		.upperEvents {
			padding: 10px 0;
			.date {
				border-left: 3px solid $borderEventsColor;
				width: 15%;
				display: inline-block;
				padding-left: 10px;

				@media screen #{$break-max-mobile}{
					width: 30%;
			  	}


				p {
					margin: 0;
					line-height: 20px;
					font-weight: 200;
					strong {
						font-size: 32px;
						line-height: 30px;
					}

				}
			}

			.eventName {
				display: inline-block;
				width: 75%;
				padding-left: 10px;

				@media screen #{$break-max-mobile}{
					width: 50%;
			  	}

				p {
					line-height: 11px;
					@media screen #{$break-max-mobile}{
					line-height: 20px;
			  	}

					strong {
						font-weight: 400;
						font-size: 19px;
					}
				}
			}
		}
		.middleEvents {
			padding: 10px;
			background: #fff;		
			p {

			}
		}
		.lowerEvents {
			text-align: right;
			a {
				margin-right: 5px;
			}
		}
	}

/* ----- d. Page Styles ----- */

	.content{
		background: #fff;
		box-shadow: 0 0 20px $boxShadowColor;
		padding: 30px;
		@media screen #{$break-max-tablet}{
			box-shadow: none;
			padding:0;
			border-top: 2px solid #CCC;
		}
	}

	.contentWide{
		padding: 30px;
		margin-bottom: 30px;
		@media screen #{$break-max-tablet}{
			box-shadow: none;
			padding:3%;

		}

		.subMenu{
			@media screen #{$break-min-tablet}{
				display:none;
			}
		}
	}

	.contentCart{
		background: #fff;
		box-shadow: 0 0 20px $boxShadowColor;
		padding: 30px;
		@media screen #{$break-max-tablet}{
			box-shadow: none;
			padding:0.2em;
			border-top: 2px solid #CCC;

		}
	}

	.pageContent{
		float: right;
		width: 75%; //650px
		margin-bottom: 30px;
			@media screen #{$break-max-tablet}{
			width:94%;
			padding:3%;
			margin-bottom: 0;
			}
			@media screen #{$break-max-desktop}{
			padding-right: 2%;
			}
	}

/*   ===================================================================================================
     6. Footer	
======================================================================================================== */

.footerUpper {
	background: $footerUpperBackgroundColor;
	padding: 30px 2%;

	p {
		color: $footerFont;
	}
	a {
		color: $footerFont;
		text-decoration: underline;
	}
	h2 {
		color: $footerFont;
	}
	.left {
		float: left;
		margin-right: 45px;
		width: 25%;
		border-right: 1px solid #fff;
		@media screen #{$break-max-mobile}{
			width: 100%;
			border: none;
			text-align: center;
		}
	}
	.right {
		float: left;
		width: 40%;
		text-align: left;
		@media screen #{$break-max-mobile}{
			width: 100%;
			text-align: center;

		}

		.v65-podTitle {
			@extend h2
		}
		ul {
			padding: 0;
			list-style: none;
		}
		li {
			display: inline;

			i {
				font-size: 24px;
			}
		}
	}
	.v65-podTitle {
		@media screen #{$break-max-mobile}{
			margin-left: 7px;
		}
	}
	button.defaultBtn {
		background: $footerButton!important;
	}
	#v65-subscribeWidget {
		margin-top: 15px;
		input {
				@media screen #{$break-max-mobile} {
					width: 25%;
					height: 50px;
				}
				@media screen #{$break-max-tablet} {
					width: 40%;
				}
			}
			button {
				@media screen #{$break-max-mobile} {

				}

			}
	}
}

.footerLower {
	background: $mobileNavBackgroundColor;
	color: #fff;
	padding: 0 2%;
	
	ul{ 
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;
		@media screen #{$break-max-mobile}{
			text-align: center;
		}
	}

	li{ 
		margin: 0;
		padding: 0;
		width: 100%;
		@media screen #{$break-min-tablet}{
			display: inline;
			padding-right: 5px;
			border:none;
		}

		a{ 
			font-size: 1em;
			line-height: 3em;
			display: block;
			color: #fff;
			@media screen #{$break-min-tablet}{
				display: inline;
				font-size: 0.917em;
				position: relative;
				&:hover{
					color: #8bf0bd;
				}  
			}
		}
	}

	.accolade {
		color: #fff;
		font-size: 9px;
		margin:0 3px 5px 0;

		@media screen #{$break-max-mobile}{
			text-align: center;
		}
		
		a {
			color: #fff;
			font-size: 9px;
		}
	}
}

.backToTop {
	background:url("/assets/images/upButton.png");
	display: block;
	height: 29px;
	position: absolute;
	right: 0;
	top: 20px;
	width: 25px;

	@media screen #{$break-min-tablet}{
		float: right;
		margin-top: 20px;
		position: relative;
		top: 0;
	}

	&:hover {
		background:url("/assets/images/upButtonH.png");
	}
}

footer{
	width: 100%;
	@media screen #{$break-min-tablet}{
	color: $outsideFontColor;
	}
}
	
		/* Footer Nav
		-----------------------------------------------*/
		.footerLeft {
				@media screen #{$break-tablet}{
					background: none;
					width: 85%;	
				}
				@media screen #{$break-max-mobile}{
					width: 85%;
					border: none;
					text-align: center;
					padding-left: 5px;
				}
				@media screen #{$break-max-desktop}{
					margin-left: 10px;
				} 
			a {
				color: #fff;
				font-size: 12px;
				margin-left: 3px;
			}
		} 

#v65-subscribeWidget input {
	width: 150px;
	height: 40px;
	border: none;
	background: #FAFAFA;
}
/*   ===================================================================================================
     7. Blog Template
======================================================================================================== */

	.blogContent{	
		padding: 5%;
		width: 90%;
		@media screen #{$break-min-tablet}{
		width: 65%;
		padding: 5%;
		float: left;
		}
		@media screen #{$break-min-desktop}{
		width: 600px;
		padding: 20px 25px 0 0;
		float: left;
		}
	
	}

	.blogRightWrapper { 
		display:none;
		@media screen #{$break-min-tablet}{
			display: block;
			width: 20%;
			padding: 20px 0 0 0;
			float: right;
		}
		@media screen #{$break-min-desktop}{
			float: right;
			padding: 20px 0 0 0;
			width: 325px;
		}

		ul{
			list-style: none;
			margin: 0 0 1em;
			padding: 0;

			li{
				font-size: 11px;
				margin: 0 0 0 10px;
			}
		}
	}

	.blogFilterLeft {
		display:none;
		padding:0;
		@media screen #{$break-min-tablet}{
			width:auto;
			display: block;
		}
		@media screen #{$break-min-desktop}{
			display: block;
			float: left;
			padding: 0 25px 0 0;
			width: 150px;
		}			
	}

	.blogFilterRight { 
		display:none;
		@media screen #{$break-min-tablet}{
			width:auto;
			display: block;
		} 
		@media screen #{$break-min-desktop}{
			display: block;
			float: left;
			width: 150px;
		}		
	}

/*   ===================================================================================================
     8. Print Template
======================================================================================================== */

.printBody {
	background-color: $headerBackgroundColor;
	background-image: none;
	margin: 0;
	padding: 0;
}

	.printWrapper {
		margin: 20px auto;
		width: 730px;
		background: #fff;
		-webkit-box-shadow: 1px 1px 3px 2px #999;
		box-shadow: 1px 1px 3px 2px #999;
	}

		.printHeader {
			height: 150px;
			width: 730px;
			margin-bottom: 15px;
			border-bottom: 1px solid #999;

		}

		.printContent {
			text-align: left;
			width: 700px;
			padding: 10px;
		}
		.receiptFooter {
			text-align: center;
			padding-bottom: 5px;
			strong {
				font-weight: 600;
			}
		}

#v65-cartSubtotal td, .v65-cartTax td, #v65-cartTable th {
	background-color: #F1F1F1;
}

#v65-cartTotal td {
	background-color: #CCC;
}

/*   ===================================================================================================
     9. Buttons
======================================================================================================== */

button {
	&.defaultBtn,  &.modalBtn,  &.largeBtn{
		background: $mainButtonColor;
		border-radius: 0;
		font-family: $fontFamily;
		span{
			background: $mainButtonColor;
			color: #fff;
			border-radius: 0;
			padding: 5px 15px;
		}
		&:hover{
			background:lighten($mainButtonColor, 10%);
			span{
			}
		}
	}

	&.altBtn, &.altModalBtn, &.altLargeBtn{
		background:$altButtonColor;
		color: #fff;
		font-family: $fontFamily;
		span{
			background:$altButtonColor;
			color: #fff;
			border-radius: 0;
			padding: 5px 15px;
		}
		&:hover{
			background: lighten($altButtonColor, 10%);
			span{
				background: lighten($altButtonColor, 10%);
			}
		}

	}
}

a{
	&.linkBtn, &.modalLinkBtn, &.largeLinkBtn, &.fullWidthBtn{
		background:$mainButtonColor;
		border-radius: 0;
		font-family: $fontFamily;
		span{
			background:$mainButtonColor;
			color: #fff;
			border-radius: 0;
			padding: 5px 15px;
		}
		&:hover{
			background:lighten($mainButtonColor, 10%);
			text-decoration: none;

			span{
				background:lighten($mainButtonColor, 10%);
			}
		}
	}

	&.fullWidthBtn{
		display: block;
		font-size: 16px;
		max-width: 100%;
		text-align: center;
		width: 100%;
	}

	&.linkAltBtn, &.modalLinkAltBtn, &.modalLinkAltBtn{
		background:$altButtonColor;
		border-radius: 0; 
		font-family: $fontFamily;
		span{
			background:$altButtonColor;
			border-radius: 0; 
			color: #fff;
			padding: 5px 15px;
		}
		&:hover{
			background: lighten($altButtonColor, 10%);
			span{
				background: lighten($altButtonColor, 10%);
			}
		}
	}

	&.modalLinkBtn, &.modalLinkAltBtn, &.modalLinkAltBtn{
		min-width: auto;
	}
}

.v65-quickView-close {

	a {
		border-radius: 0; 
		background: lighten($altButtonColor, 10%);

		&:hover{
			background: lighten($altButtonColor, 10%);
			
		}
		
	}

}
.v65-product-addToCart {
	button {
		min-width: 32%;
	}
}


/*   ===================================================================================================
     10. Vin65 Overrides
======================================================================================================== */

	
/* ----- a. Homepage Product Group ----- */

.v65-productGroup {
	margin: 0;
}

.v65-product-addToCart {
	margin: 0;
}

.homepageProductGroup .v65-productGroup-products{
	text-align: left;
	width: 100%;
	font-family: $fontFamily;	
}

	/* Heading 2 Styling */
	.homepageProductGroup .v65-productGroup-title{
		color: #333;	
		font-size: 26px;
		line-height: 1.2;
		margin: 0.25em  0 0.5em;

		@media screen #{$break-max-mobile}{
			font-size: 22px;
		}
	}

	.homepageProductGroup .v65-productGroup-teaser{
		float: none;
		margin: 0;
		width: 100%;
		display: none;
	}
	
	.homepageProductGroup .v65-productGroup-product{
		margin: 0 0 1em;
		width: 100%;
	}
	.homepageProductGroup .v65-productGroup-product .v65-product-title {
		font-family: $fontFamily;	
		font-size: 28px;
		font-weight: 200;
		margin-bottom: 15px;
		line-height: 25px;
		 a {
		 	color: #333;
		 }

		@media screen #{$break-min-desktop}{
			width: 250px;
		}

	}

/* ----- b. Checkout Overrides ----- */

#v65-fieldset-paymentMethod{
}

form#v65-checkBilling .v65-additionalComments {
}
 
#v65-signUpClubSummaryWrapper {
	margin-bottom: 20px;
}


/* ----- Fix for product sorting  ----- */

		.v65-product-sortBy { 
			float: left; 
			text-align: left; 
			width: 50%; 
			}
			
			.v65-product-sortBy form { 
				padding: 0; 
				margin: 0; 
				}
				
			.v65-product-sortBy form select { 
				width: 130px; 
				}

/* ----- Fix for overflow on FB sharing widget on mobile  ----- */

.v65-socialMediaBar-FacebookLike { 
	@media screen #{$break-max-tablet}{
		width:100%;
		overflow: hidden;
		}
	}

// c. Responsive Product List

.v65-product2Up{ 
	@media screen and (max-width: 570px){
		width:100%;
	}

	.v65-product-title{
		a{

		}
	}
	.v65-product-photo{
		a{
			img{

			}
		}
	}
	.v65-product-teaser{
		p{

		}
	}
	.v65-product-drilldownLink{
		a{

		}
	}
	.v65-productreviewStats{

	}
	.v65-product-inventoryMessage{
			@media screen #{$break-max-mobile}{
				display:none;
			}
		.v65-product-inventoryMessage-inStock{

		}
	}
	.v65-product-addToCart{ clear:both;
		.v65-addToCart{
			fieldset{
				legend{}
				.v65-product-addToCart-priceWrapper{
					.v65-product-addToCart-price{

					}
					.v65-product-addToCart-unitDescription{

					}
					.v65-product-addToCart-productSKU{

					}
				}
				.v65-product-addToCart-quantity{
					input {
						height: 40px;
						@media screen #{$break-max-mobile}{
							padding: 9px 15px;
						}
					}
				}
				.v65-product-addToCart-button{
					button{
						span{

						}
					}
				}
			}
		}
		.v65-addToCartCase{

		}
	}
	.v65-product-socialBar{
		@media screen #{$break-max-mobile}{
			display:none;
		}
	}
}
.v65-product-addToCart-quantity{
	input {
		height: 40px;
		@media screen #{$break-max-mobile}{
			padding: 9px 15px;
		}
	}
}

.twitterWrapper {
 	width: 300px;
  	float: left;
  	margin: 0 0 20px 20px;
  	clear: both;

  	@media screen #{$break-max-tablet}{
	  	width: 90%;
	    margin: 0 auto;
	    padding: 5%;
	  }
}

/* -------- d. Product Page Over Rides -----------*/

.v65-product-sortBy {
	width: 25%;
}

.v65-product-pagination {
	width: 75%;
}

.v65-product-quickView {
	@media screen #{$break-max-desktop}{
		display: none!important;
	}
}
.v65-product-addToCart-quantity{
	input {
		height: 38px;
	}
}

.v65Left {
	float: left;
	margin: 0 10px;
}
.v65Right {
	float: left;
	margin-left: 2%;
}

	/* 1-Up Layout */
	.v65-product1Up {
		background: #F1F1F2;
		position: relative;
		border: 1px solid #E2E2E2;

		.v65-product-title {
			float: left;
			width: 95%;
			margin: 10px 0 10px 10px;

			a {
				color: #666;
				font-weight: 300;
			}
		}

		.v65-product-photo {
			float: right;
			width: 24%;
			background: #fff;
			margin: 0;
		}
		.v65-product-teaser {
			width: 80%;
			margin: 0 0 5px 10px;

		}
		.v65-product-reviewStats {
			margin: 0 0 5px 10px;

		}
		.v65-product-inventoryMessage {
			margin: 0 0 5px 10px;
		}
		.v65-product-addToCart-priceWrapper {
			display: block;
		}
		.v65-product-addToCart {
			clear: none;
			margin-left: 10px;
		}
		.v65-product-socialBar {
			padding: 5px 0 5px 5px;
			height: 0px;
		}
	}
	/* 2-Up Layout */
	.v65-product2Up {
		background: #F1F1F2;
		position: relative;
		border: 1px solid #E2E2E2;
		width: 47%;
		@media screen #{$break-max-tablet}{
			width: 95%;
		}

		.v65-product-title {
			float: left;
			width: 73%;
			margin: 10px 0 10px 10px;

			a {
				color: #666;
				font-weight: 300;
			}
		}

		.v65-product-photo {
			width: 24%;
			background: #fff;
			margin: 0;
			@media screen #{$break-max-tablet}{
			width: 23%;
			padding: 10% 0 10%;
			}
		}
		.v65-product-teaser {
			width: 68%;
			margin: 0 0 5px 10px;

		}
		.v65-product-reviewStats {
			margin: 0 0 5px 10px;

		}
		.v65-product-inventoryMessage {
			margin: 0 0 5px 10px;
		}
		.v65-product-addToCart-priceWrapper {
			display: block;
		}
		.v65-product-addToCart {
			clear: none;
			margin-left: 10px;
		}
		.v65-product-socialBar {
			padding: 5px 0 5px 5px;
			height: 0px;
		}
	} 
	/* 3-Up Display */
	.v65-product3Up {
		.v65-product-title {
			a {
				color: #666;
				font-weight: 300;
			}
		}

	}
	/* 5-Up Display */
	.v65-product5Up {
		.v65-product-title {
			a {
				color: #666;
				font-weight: 300;
			}
		}

	}

.v65-product-tabs .last a {
	border-radius: 0;
}

/* ----- e. Misc Template Specific Overrides -----*/

.v65-clubTitle {
	font-family: $fontFamily;	
	}

.v65-productBadge {
	position:absolute;
	top:0;
	left:0;
}

#v65-modalCartTable th {
	background-color: #fff;
}

.v65-product-quickView {
	border-radius: 0;
}


/*   ===================================================================================================
     11. Default Generic Content
======================================================================================================== */


/* ----- a. Generic Content -----*/

.bannerText {
	float: left;
	padding-top: 6%;
	position: relative;
	text-align: right;
	width: 57%;
	img {
		max-width: 100%;
	}
	@media screen #{$break-max-tablet}{
		padding: 6% 6%;
		text-align: center;
		width: 87%;
	}

}

.bannerImage {
	float: left;
	max-height: 375px;
	padding-top: 2%;
	position: relative;
	text-align: center;
	width: 43%;
	img {
		max-width: 100%;
	}
	@media screen #{$break-max-tablet}{
		display: none;
	  	
	}
}

/* ----- d. Column Styles ----- */
.colWrapper {
	margin-bottom: 2em;
	width: 100%;
}

	.colWrapper:before,.colWrapper:after { content:""; display:table; }
	.colWrapper:after { clear:both; }


	.col2 { 
		float: left;
		margin-left: 6%;
		width: 36%;

		.v65-formRight {
			float: none;
		}
	}

	.col2:first-child { 
		float: left;
		margin-left: 0%;
		width: 36%;
	}

	@media screen and (max-width: 767px) {

		.col2 { 
			float: none;
			margin-left: 0;
			margin-bottom: 1.5em;
			width: 100%;
		}

		.col2:first-child { 
			float: none;
			width: 100%;
		}

	}


