@charset "UTF-8";

 
.icon-youtube:before { content: '\55'; } /* 'U' */
.icon-acrobat:before { content: '\e3'; } /* 'ã' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-layout:before { content: '\268f'; } /* '⚏' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-up-bold:before { content: '\e800'; } /* '' */
.icon-down-bold:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-monitor:before { content: '💻'; } /* '\1f4bb' */
.icon-phone-1:before { content: '📞'; } /* '\1f4de' */
.icon-arrows-ccw:before { content: '\e802'; } /* '' */
.icon-search-1:before { content: '🔍'; } /* '\1f50d' */